<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.score.dao.TeScoreMapper">
    <!-- sql语句-->

    <resultMap id="AsMap" type="com.example.score.entity.AllScore">
        <id column="id" property="asId"/>
        <result column="class_id" property="classId"/>
        <result column="teacher_id" property="teId"/>
        <result column="student_id" property="stuId"/>
        <result column="teacher_score" property="teScore"/>
        <result column="academic_year" property="acaYear"/>
    </resultMap>
    <resultMap id="TsMap" type="com.example.score.entity.TeScore">
        <id column="id" property="tsId"/>
        <result column="class_id" property="classId"/>
        <result column="college_id" property="collegeId"/>
        <result column="teacher_id" property="teId"/>
        <result column="teacher_score" property="teScore"/>
        <result column="academic_year" property="acaYear"/>
    </resultMap>

    <insert id="insertAllScore" >
        insert
        into all_score
        (class_id,teacher_id,student_id,teacher_score,academic_year,seme)
        value (#{classId},#{teId},#{stuId},#{teScore},#{acaYear},#{seme})
    </insert>
    <select id="selectScore" resultMap="AsMap">
        select * from all_score
        where teacher_id = #{teId}
        and class_id = #{classId}
        And academic_year = #{acaYear}
        and seme = #{seme}
    </select>
    <select id="insertFinalScore">
        insert
        into final_te_score
            (class_id,teacher_id,college_id,teacher_score,academic_year,seme)
            value (#{classId},#{teId},#{collegeId},#{teScore},#{acaYear},#{seme})
    </select>

    <select id="insertTeScore">
        insert
        into te_score
            (class_id,teacher_id,college_id,teacher_score,academic_year,seme)
            value (#{classId},#{teId},#{collegeId},#{teScore},#{acaYear},#{seme})
    </select>

    <select id="getClNames"  resultType="String">
        select name from class
    </select>

    <select id="geScore" resultType="com.example.score.pojo.dto.ClassScoreDTO">
        select teacher_score as teScore,
               teacher.name AS teName,
               class.name  as clName
        from (class
            inner join te_score
            on class.id = te_score.class_id)
                 inner join teacher
                            on teacher.id=te_score.teacher_id
        WHERE class.name = #{clName}
          AND te_score.academic_year = #{acaYear}
          AND seme = #{seme}
    </select>


    <select id="getFirstScore" resultType="BigDecimal">
        select teacher_score as teScore
        from (all_score
            inner join student
            on all_score.student_id = student.id)
                 inner join class
                            on class.id=all_score.class_id
        WHERE class.id = #{classId}
          AND sno = #{stuNum}
          AND teacher_id = #{teId}
          AND all_score.academic_year = #{acaYear}
          AND seme = #{seme}
    </select>

    <!-- <insert id="insertTeScore">
         insert id,class_id,teacher_id,student_id,teacher_score,academic_year,seme
          into all_score value (#{as.asId},#{as.classId},#{as.teId},#{as.stuId},#{as.teScore},
                                     #{as.acaYear},#{as.seme})
     </insert>
 -->
</mapper>