<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.score.dao.ClassMapper">
    <!-- sql语句-->
    <resultMap id="clMap" type="com.example.score.entity.Class">
        <id column="id" property="classId"/>
        <result column="name" property="className"/>
        <result column="college_id" property="collegeId"/>
    </resultMap>
    <select id="getClassList" resultType="int">
        select id
        from class
    </select>

    <insert id="classAdd" >
        insert
        into class
        (class.name,class.college_id)
        value (#{clName},#{collegeId})
    </insert>

    <delete id="classDelete">
        delete class,class_teacher,class_student
        From class
        left join class_teacher
        on class.id = class_teacher.class_id
        left join class_student
        on class.id = class_student.class_id
        where class.id = #{classId}
    </delete>

    <update id="classUpdate" >
        UPDATE class
        set name = #{clName} , college_id = #{collegeId}
        where id = #{classId}
    </update>


</mapper>