<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.score.dao.ClassTeMapper">
    <!-- sql语句-->
    <resultMap id="BaseResultMap" type="com.example.score.entity.ClassTeacher">
        <id column="id" property="ctId"/>
        <result column="class_id" property="classId"/>
        <result column="teacher_id" property="teId"/>
        <result column="academic_year" property="acaYear"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
        select * from class_teacher
        where academic_year = #{acaYear}
        and seme = #{seme}
    </select>

    <insert id="classTeAdd">
        insert into
        class_teacher
        (class_id,teacher_id)
        value (#{classId},#{teId})
    </insert>

    <update id="subjectAdd">
        update class_teacher
        set subject = #{subject},academic_year = #{acaYear},seme = #{seme}
        where id = #{classTeId}
    </update>

    <delete id="classTeDelete">
        delete
        from class_teacher
        where class_id = #{classId}
    </delete>

    <select id="getClassTeacher" resultMap="BaseResultMap">
        select * from class_teacher
        where class_id = #{classId}
    </select>
</mapper>