<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.score.dao.FinalScoreMapper">
    <!-- sql语句-->
    <resultMap id="TsMap" type="com.example.score.entity.TeScore">
        <id column="id" property="tsId"/>
        <result column="class_id" property="classId"/>
        <result column="college_id" property="collegeId"/>
        <result column="teacher_id" property="teId"/>
        <result column="teacher_score" property="teScore"/>
        <result column="academic_year" property="acaYear"/>
    </resultMap>

    <select id="selectTeScoreByClassId" resultMap="TsMap">
        select * from te_score
        where class_id = #{classId}
        and academic_year = #{acaYear}
        and seme = #{seme}
    </select>

    <select id="insert">
        insert
        into final_te_score
            (class_id,teacher_id,college_id,teacher_score,academic_year,seme)
            value (#{classId},#{teId},#{collegeId},#{teScore},#{acaYear},#{seme})
    </select>

</mapper>